@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

.light {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@media (prefers-color-scheme: dark) {
  .card-modal-root *::-webkit-scrollbar {
    width: 8px;
  }

  .card-modal-root *::-webkit-scrollbar-track {
    background-color: #020617;
  }

  .card-modal-root *::-webkit-scrollbar-thumb {
    background-color: #4b5563;
    border-radius: 9999px;
  }

  .card-modal-root * {
    scrollbar-width: thin;
    scrollbar-color: #4b5563 #020617;
  }
}
